In [379]:
# Pyber Challenge

In [380]:
### 4.3 Loading and Reading CSV files

In [381]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [382]:
# File to Load (Remember to change these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

In [383]:
# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

In [384]:
### Merge the DataFrames

In [385]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

In [386]:
# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,1/14/2019 10:14,13.83,5739410000000,5,Urban
1,South Michelleport,3/4/2019 18:24,30.24,2343910000000,72,Urban
2,Port Samanthamouth,2/24/2019 4:29,33.44,2005070000000,57,Urban
3,Rodneyfort,2/10/2019 23:22,23.44,5149250000000,34,Urban
4,South Jack,3/6/2019 4:28,34.58,3908450000000,46,Urban

In [387]:
## Deliverable 1: Get a Summary DataFrame

In [388]:
#  1. Get the total rides for each city type
ttl_rides_by_city_type = pyber_data_df.groupby("type")["ride_id"].count()
ttl_rides_by_city_type

type
Rural        125
Suburban     625
Urban       1625
Name: ride_id, dtype: int64

In [422]:
# 2. Get the total drivers for each city type
ttl_drivers_by_city_type = pyber_data_df.groupby(["type","city"])["driver_count"].first().groupby("type").sum()
#ttl_drivers_by_city_type = pyber_data_df.groupby("type")["driver_count"].sum()
#ttl_drivers_by_city_type = pyber_data_df.groupby("type")["driver_count":"city"].sum()
ttl_drivers_by_city_type

type
Rural         78
Suburban     490
Urban       2405
Name: driver_count, dtype: int64

In [423]:
#  3. Get the total amount of fares for each city type
ttl_fares_by_city_type = pyber_data_df.groupby("type")["fare"].sum()
ttl_fares_by_city_type

type
Rural        4327.93
Suburban    19356.33
Urban       39854.38
Name: fare, dtype: float64

In [424]:
#  4. Get the average fare per ride for each city type.
avg_fare_per_ride = ttl_fares_by_city_type / ttl_rides_by_city_type
avg_fare_per_ride

type
Rural       34.623440
Suburban    30.970128
Urban       24.525772
dtype: float64

In [425]:
# 5. Get the average fare per driver for each city type
avg_fare_per_driver = ttl_fares_by_city_type / ttl_drivers_by_city_type
avg_fare_per_driver

type
Rural       55.486282
Suburban    39.502714
Urban       16.571468
dtype: float64

In [426]:
#  6. Create a PyBer summary DataFrame.
pyber_summary_df = pd.DataFrame({
    "Total Rides": ttl_rides_by_city_type,
    "Total Drivers": ttl_drivers_by_city_type,
    "Total Fares": ttl_fares_by_city_type,
    "Average Fare per Ride": avg_fare_per_ride,
    "Average Fare per Driver": avg_fare_per_driver})
pyber_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
type,,,,,
Rural,125,78,4327.93,34.623440,55.486282
Suburban,625,490,19356.33,30.970128,39.502714
Urban,1625,2405,39854.38,24.525772,16.571468

In [427]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None

In [428]:
#  8. Format the columns.
avg_fare_per_ride = avg_fare_per_ride.map("{:.1f}".format)
avg_fare_per_driver  = avg_fare_per_driver.map("{:.1f}".format)
pyber_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
Rural,125,78,4327.93,34.623440,55.486282
Suburban,625,490,19356.33,30.970128,39.502714
Urban,1625,2405,39854.38,24.525772,16.571468

In [429]:
## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [430]:
# 9. Using groupby() on the pyber_data_df to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.
ttl_fare_per_date = pyber_data_df[["type", "date"]].groupby("type").("fare").sum()
ttl_fare_per_date

SyntaxError: invalid syntax (<ipython-input-430-322286ae54e3>, line 3)

In [421]:
# 10. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
df = df.reset_index()

NameError: name 'df' is not defined

In [431]:
# 11. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date. 
df.pivot(index="date", columns="type", value="fare")

NameError: name 'df' is not defined

In [400]:
# 12. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2018-01-01':'2018-04-29'.

In [401]:
# 13. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [402]:
# 14. Check that the datatype for the index is datetime using df.info()

In [403]:
# 15. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [404]:
# 16. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function.

In [405]:
# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')